[submodule "srcSAX"]
	path = srcSAX
	url = https://github.com/srcML/srcSAX.git
[submodule "srcSAXEventDispatch"]
	path = srcSAXEventDispatch
	url = https://github.com/srcML/srcSAXEventDispatch.git
[submodule "ogdf"]
	path = ogdf
	url = git@github.com:ogdf/ogdf.git
